USE [FastMoneyPro_Remit]
GO
/****** Object:  Table [dbo].[ProductList]    Script Date: 6/26/2019 2:42:01 PM ******/
DROP TABLE IF EXISTS [dbo].[ProductList]
GO
/****** Object:  Table [dbo].[PointSetup]    Script Date: 6/26/2019 2:42:01 PM ******/
DROP TABLE IF EXISTS [dbo].[PointSetup]
GO
/****** Object:  Table [dbo].[PointSetup]    Script Date: 6/26/2019 2:42:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointSetup](
	[rowId] [int] IDENTITY(1,1) NOT NULL,
	[schemeCode] [varchar](50) NOT NULL,
	[schemeName] [varchar](200) NOT NULL,
	[customerClass] [smallint] NULL,
	[rCountry] [varchar](500) NULL,
	[rAgent] [varchar](100) NULL,
	[schemeStartDate] [datetime] NULL,
	[schemeEndDate] [datetime] NULL,
	[schemeFor] [datetime] NULL,
	[conditionType] [char](1) NOT NULL,
	[condition1] [varchar](200) NOT NULL,
	[value] [money] NULL,
	[isActive] [bit] NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [varchar](50) NULL,
	[createdDate] [datetime] NULL,
	[approvedBy] [varchar](50) NULL,
	[approvedDate] [datetime] NULL,
	[modifiedBy] [varchar](50) NULL,
	[modifiedDate] [datetime] NULL,
	[serviceFee] [money] NULL,
	[couponCode] [varchar](50) NULL,
	[condition2] [varchar](200) NULL,
 CONSTRAINT [PK_PointSetup] PRIMARY KEY CLUSTERED 
(
	[rowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductList]    Script Date: 6/26/2019 2:42:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductList](
	[rowId] [int] IDENTITY(1,1) NOT NULL,
	[productCode] [varchar](50) NULL,
	[productName] [varchar](200) NULL,
	[pointPrice] [money] NULL,
	[deliveryYN] [bit] NULL,
	[productImgPath] [varchar](100) NULL,
	[createdBy] [varchar](50) NULL,
	[createdDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[rowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PointSetup] ON 
GO
SET IDENTITY_INSERT [dbo].[PointSetup] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductList] ON 
GO
INSERT [dbo].[ProductList] ([rowId], [productCode], [productName], [pointPrice], [deliveryYN], [productImgPath], [createdBy], [createdDate]) VALUES (1, N'PRO-1001', N'GME T-Shirt', 3500.0000, 0, N'D:\HOSTING\STAGE\STAGE-JSONRX-API\ProductImg\PRO-1001.jpg', N'SYSTEM', CAST(N'2019-06-07T15:48:19.197' AS DateTime))
GO
INSERT [dbo].[ProductList] ([rowId], [productCode], [productName], [pointPrice], [deliveryYN], [productImgPath], [createdBy], [createdDate]) VALUES (2, N'PRO-1002', N'GME Mug', 1300.0000, 0, N'D:\HOSTING\STAGE\STAGE-JSONRX-API\ProductImg\PRO-1002.jpg', N'SYSTEM', CAST(N'2019-06-07T15:48:19.213' AS DateTime))
GO
INSERT [dbo].[ProductList] ([rowId], [productCode], [productName], [pointPrice], [deliveryYN], [productImgPath], [createdBy], [createdDate]) VALUES (3, N'PRO-1003', N'GME Tumbler', 2700.0000, 0, N'D:\HOSTING\STAGE\STAGE-JSONRX-API\ProductImg\PRO-1003.jpg', N'SYSTEM', CAST(N'2019-06-07T15:48:19.213' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ProductList] OFF
GO
